@charset "UTF-8";
html {
  font-size: 40%;
  font-family: 'Abel', sans-serif; }

p {
  font-size: 16px;
  font-size: 1.6rem; }

img {
  max-width: 100%; }

body {
  background: #f9f8f6; }

header #header_in {
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (max-width: 550px) {
    header #header_in {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 0px; } }

.navi {
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box; }
  @media (max-width: 550px) {
    .navi {
      display: flex;
      display: -webkit-flex;
      -webkit-justify-content: center;
      justify-content: center; } }

#main_navi {
  list-style: none;
  margin-bottom: 0px; }
  #main_navi li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px; }
  @media (max-width: 550px) {
    #main_navi {
      display: none; } }

#sub_navi {
  margin-bottom: 0px;
  list-style: none;
  display: flex;
  display: -webkit-flex; }
  #sub_navi li {
    margin-right: 10px;
    margin-left: 10px; }
  @media (max-width: 550px) {
    #sub_navi {
      margin-top: 15px;
      margin-bottom: 0px; } }

#sub_navi_btm {
  cursor: pointer; }
  @media (min-width: 550px) {
    #sub_navi_btm {
      display: none; } }

.sp_menu_toggle {
  display: none; }
  .sp_menu_toggle li {
    list-style: none;
    background: white;
    border: 1px solid #eee;
    margin-bottom: 0px;
    padding: 5px 5px 5px 5px; }
    .sp_menu_toggle li a {
      text-decoration: none;
      color: #887f69; }

.container {
  width: 100%; }

.top_box {
  background-image: url("../images/list/home_icon.png");
  background-position-x: 1%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-color: #e2ddd4;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px; }
  .top_box p {
    color: #937f69;
    margin: 0px;
    padding-left: 15px; }

.main_box {
  background: white;
  box-sizing: border-box;
  padding: 50px; }

.syohin {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  /* Safari */
  justify-content: space-between; }
  .syohin .syohinname {
    font-weight: bold; }
    .syohin .syohinname p {
      font-size: 15px; }
  .syohin .fa0001 {
    color: #d1d1d1; }

.pro_box {
  display: flex;
  display: -webkit-flex;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%; }
  @media (max-width: 550px) {
    .pro_box {
      -webkit-flex-wrap: wrap;
      /* Safari */
      flex-wrap: wrap; } }

.pro_img {
  width: 100%; }

.pro_img_two {
  width: 40%;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  /* Safari */
  flex-wrap: wrap; }
  @media (max-width: 550px) {
    .pro_img_two {
      display: flex;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      /* Safari */
      flex-wrap: wrap;
      width: 100%; } }

.pro_img_three img {
  width: 75px;
  height: 75px;
  padding: 4px; }
  @media (max-width: 550px) {
    .pro_img_three img {
      padding: 3px; } }

.color_box img {
  margin-top: 20px;
  margin-bottom: 20px; }

.color_table table, .color_table td, .color_table th {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-collapse: collapse; }
.color_table td, .color_table th {
  color: #555;
  padding: 3px;
  width: 100px;
  height: 25px; }

@media (min-width: 550px) {
  .price_box {
    display: flex;
    display: -webkit-flex; } }

@media (min-width: 550px) {
  .price_cube {
    width: 60%; } }

.price {
  display: flex;
  display: -webkit-flex;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 15px; }

.pprice {
  flex: 1;
  margin-top: 30px;
  margin-bottom: 20px; }

.ppprice {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  text-align: center; }
  .ppprice p {
    text-align: center; }

.quantity_box {
  display: flex;
  display: -webkit-flex; }
  .quantity_box .quantity_one {
    flex: 1;
    margin-top: 20px; }
  .quantity_box .quantity_two {
    flex: 1;
    border-radius: none;
    margin-top: 10px; }
    .quantity_box .quantity_two input {
      margin-bottom: 0px; }
    @media (max-width: 550px) {
      .quantity_box .quantity_two {
        maxlength: 10px; } }

.add_two {
  margin-top: 10px;
  text-align: right; }
  @media (max-width: 550px) {
    .add_two {
      text-align: center;
      border-top: 1px solid #e1e1e1;
      padding-top: 10px; } }
  @media (min-width: 550px) {
    .add_two {
      margin-left: auto; } }

.syokai_box {
  margin-top: 15px; }
  @media (min-width: 550px) {
    .syokai_box {
      border-top: 1px solid #e1e1e1; } }
  .syokai_box p {
    font-size: 15px;
    font-weight: bold;
    color: #937f69;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-top: 15px; }

.setsumei_title p {
  font-size: 15px;
  font-weight: bold;
  color: #937f69; }

.setsumei_box p {
  width: 100%;
  word-wrap: break-word;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px; }
.setsumei_box table, .setsumei_box td, .setsumei_box th {
  border: 1px solid #e1e1e1;
  border-collapse: collapse; }
.setsumei_box td {
  width: 70%;
  color: #555;
  padding: 3px;
  height: 25px;
  text-align: center; }
.setsumei_box th {
  width: 30%;
  color: #555;
  padding: 3px;
  height: 25px;
  text-align: center; }

.recent_pro {
  margin: 20px 0 20px 0; }
  @media (max-width: 550px) {
    .recent_pro {
      display: none; } }

.title_recent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px; }
  @media (min-width: 550px) {
    .title_recent img {
      display: none; } }

#popular {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  /* Safari */
  justify-content: space-between; }

#popular .popular_box {
  background: #f9f8f6;
  width: 50%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box; }
  @media (min-width: 550px) {
    #popular .popular_box {
      background: #f9f8f6;
      width: 32%;
      height: 100%;
      box-sizing: border-box;
      margin: 1px; } }

.guide_cover {
  margin: 20px 0 20px 0; }
  @media (max-width: 550px) {
    .guide_cover {
      display: none; } }

.guide_cover_sp {
  text-align: center;
  margin: 15px 0px 15px 0px; }
  @media (min-width: 550px) {
    .guide_cover_sp {
      display: none; } }

.flex_container {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between; }
  @media (max-width: 550px) {
    .flex_container {
      flex-direction: column; } }

.flex_container .left_box {
  padding-left: 15px;
  background: white;
  width: 100%;
  box-sizing: border-box;
  margin-right: 10px; }
  .flex_container .left_box img {
    display: block; }
  @media (max-width: 550px) {
    .flex_container .left_box {
      margin-bottom: 10px; } }

.aa {
  margin-top: 10px;
  margin-bottom: 0px; }
  .aa p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold; }

.bb p {
  margin-top: 10px;
  font-weight: bold; }

.flex_container .right_box {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background: white;
  width: 100%; }
  .flex_container .right_box img {
    display: block; }
  @media (max-width: 550px) {
    .flex_container .right_box {
      margin-bottom: 10px; } }

.cc {
  margin-bottom: 10px; }

.dd {
  margin-top: 10px; }
  .dd p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold; }

.ee {
  margin-top: 10px; }
  .ee p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold; }

h3 {
  font-size: 20px;
  color: #937f69;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px; }

p1 {
  color: #937f69;
  margin-top: 10px;
  font-weight: bold; }

.search_box {
  background: white;
  padding: 10px 10px 5px 15px; }

.search_cover {
  margin-bottom: 5px; }

.search_text {
  width: 100%; }

.search_text input {
  background: #f9f8f6;
  border: 1px;
  background-image: url("../images/top/search_icon.png");
  background-position-x: 95%;
  background-repeat: no-repeat;
  background-position-y: center;
  border-radius: 0;
  width: 100%; }

.link_box {
  background: #937f69;
  padding: 13px;
  margin-top: 10px;
  background-image: url("../images/top/next_icon.png");
  background-position-x: 95%;
  background-repeat: no-repeat;
  background-position-y: center; }

.catego {
  background: #937f69;
  margin-top: 10px;
  padding: 13px;
  background-image: url("../images/top/down_icon.png");
  background-position-x: 95%;
  background-repeat: no-repeat;
  background-position-y: center; }

#categories_navi {
  background: white;
  list-style: none;
  margin-bottom: 0px; }

#categories_navi li {
  padding: 10px 10px 10px 20px;
  background-image: url("../images/top/next_icon.png");
  background-position-x: 95%;
  background-repeat: no-repeat;
  background-position-y: center;
  margin-bottom: 0px;
  border-bottom: 1px solid #e1e1e1; }

.about_cover {
  background: #937f69;
  padding: 13px; }

.about_box {
  background: white;
  padding: 5px; }
  @media (max-width: 550px) {
    .about_box {
      display: flex;
      display: -webkit-flex; } }

@media (max-width: 550px) {
  .about_left {
    margin-right: 10px;
    width: 50%; } }

@media (max-width: 550px) {
  .about_right {
    margin-right: 10px;
    width: 50%; } }

.about_right p {
  margin-bottom: 0px;
  margin-top: 20px; }

.about_right img {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.shop_cover {
  background: #937f69;
  padding: 13px;
  margin-top: 10px; }

.shop_box {
  background: white;
  padding: 5px; }
  @media (max-width: 550px) {
    .shop_box {
      display: flex;
      display: -webkit-flex; } }

@media (max-width: 550px) {
  .shop_left {
    margin-right: 10px;
    width: 50%; } }

@media (max-width: 550px) {
  .shop_right {
    margin-right: 10px;
    width: 50%; } }

.shop_right p {
  margin-bottom: 0px;
  margin-top: 20px; }

.shop_right img {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

footer.container {
  width: 100%;
  margin-top: 20px; }
  @media (max-width: 550px) {
    footer.container {
      margin-top: 0px;
      margin-bottom: 0px; } }

.pagetop {
  text-align: right; }
  @media (max-width: 550px) {
    .pagetop {
      text-align: center;
      margin: 15px 0 15px 0; } }

.contact {
  border-top: 1px solid black;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  /* 縦方向中央揃え（Safari用） */
  align-items: center;
  /* 縦方向中央揃え */
  -webkit-justify-content: center;
  /* 横方向中央揃え（Safari用） */
  justify-content: center;
  /* 横方向中央揃え */
  margin-left: auto;
  margin-right: auto;
  list-style: none; }
  .contact li {
    margin-top: 25px;
    font-weight: bold; }
    .contact li + li {
      margin-left: 10px; }
      .contact li + li::before {
        margin-right: 10px;
        content: '・'; }

.small {
  text-align: center;
  margin-bottom: 40px; }

/*# sourceMappingURL=products.css.map */
